.testimonios {
  clear: both;
  padding: 50px 0;
  text-align: center; }
  .testimonios .slider h2 {
    text-transform: uppercase;
    margin-bottom: 15px;
    letter-spacing: 1px;
    color: #222; }
  .testimonios .slider h3 {
    color: #777;
    margin-bottom: 15px;
    line-height: 30px;
    font-size: 16px; }
